# Variables sensibles
.env

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
mi_app/

# Base de datos local
db.sqlite3
*.sqlite3

# Logs
*.log

# Angular
node_modules/
dist/
.angular/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db