.custom-navbar{
  background: linear-gradient(90deg, #111827, #1f2937);
  padding: 14px 0;
}

.logo{
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  color: #fff !important;
}

.nav-link{
  color: #d1d5db !important;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link:hover{
  color: #ffffff !important;
  transform: translateY(-1px);
}

/* Línea animada */
.nav-link::after{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #facc15;
  transition: width 0.3s ease;
}

.nav-link:hover::after{
  width: 100%;
}

/* Ruta activa */
.active{
  color: #ffffff !important;
}

.active::after{
  width: 100%;
}

.btn-warning{
  border-radius: 12px;
  transition: all 0.3s ease;
}

.btn-warning:hover{
  transform: scale(1.05);
}