.conteiner-carrusel{
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

.servimatch-info {
  background-color: #f8f9fa;
  border-radius: 20px;
  padding: 50px;
}

.servimatch-info h2 {
  color: #0d1b2a;
  font-size: 2.5rem;
}

.servimatch-info p {
  color: #555;
  font-size: 1.1rem;
}

.servimatch-info li {
  margin-bottom: 12px;
  font-weight: 500;
  color: #1b4332;
}

.servimatch-info img {
  max-height: 380px;
}