<section class="container py-5">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card shadow border-0 p-4">

        <h2 class="text-center fw-bold mb-4">
          Iniciar Sesión
        </h2>

        <form
          [formGroup]="loginForm"
          (ngSubmit)="ingresar()">

          <div class="mb-3">

            <label class="form-label">
              Email
            </label>

            <input
              type="email"
              class="form-control"
              placeholder="Ingresá tu email"
              formControlName="email">

            @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {

              <small class="text-danger">
                Ingresá un email válido.
              </small>

            }

          </div>

          <div class="mb-4">

            <label class="form-label">
              Contraseña
            </label>

            <input
              type="password"
              class="form-control"
              placeholder="Ingresá tu contraseña"
              formControlName="password">

            @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {

              <small class="text-danger">
                La contraseña debe tener al menos 8 caracteres.
              </small>

            }

          </div>

          <button
            type="submit"
            class="btn-login w-100">

            Ingresar

          </button>

        </form>

      </div>
    </div>
  </div>

</section>